@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <style>
            .moj {
                display: inline-block;
                padding: 10px;
                margin-right: 25px;
                border: solid;
                border-color: darkred;
                width: 25%;
                height: 400px;
                border-radius: 12px;
                text-align: center;
            }
            body {
                background-image: url('../wwwroot/slike/pozadina.jpg');
            }
        </style>
    </head>
<div>
    <h1 style="text-align:center;  color:black; font-family:'Franklin Gothic'">
        <b>RentACar</b>
    </h1>
</div>